.tab {
	background-color: rgb(148,190,255);
	color: white;
	font-size: .9em;
	padding: 7px;
	margin: 1px;
	text-align: center;
	cursor: pointer;
	transition: all .3s ease;
}

.tab:hover {
	background-color: white;
	color: black;
}

.tab:first-child {
	margin-left: 10px;
}

.active {
	background-color: white;
	color: black;
	padding: 9px;
	margin-bottom: 0;
}