.image {
	width: 30%;
	min-width: 110px;
	height: auto;
	padding: 0 0 3px 6px;
	margin: 0;
}

.image--gallery {
	width: 40%;
}

.image img {
	width: 100%;
	border: 3px lightgrey solid;
	box-sizing: border-box;
}